[submodule "demos/3rdparty/nuklear"]
	path = demos/3rdparty/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "3rdparty/mako"]
	path = 3rdparty/mako
	url = https://github.com/sqlalchemy/mako/
